<div id="titles">
  <h2>口座管理画面</h2>
  <div id ="welcome">
    Welcome <%= showname %> !
  </div>
</div>
<%= menuList %>
<div id="errorarea">
  <%= errorstr %>
</div>
<div id="inputarea">
  <form action="<%= actionUrl %>" method="post" accept-charset="UTF-8"
	autocomplete="off" name="inputarea">
    <table id="inputtable">
      <%= acctbllist %>
    </table>
    <input type="submit" id="submit" name="submit" value="登録">
  </form>
</div>
<script src='<%= HtmlUtil::URLROOT %>/js/acc.js'></script>
