<div id="titles">
  <h2>収支管理メイン画面</h2>
  <div id ="welcome">
    Welcome <%= showname %> !
  </div>
</div>
<div id="menuarea">
  <ul id="normal" class="dropmenu">
    <li><a href="#">メニュー▼</a>
      <ul>
	<%= menuList %>
      </ul>
    </li>
  </ul>
</div>
<div id="errorarea">
  <%= errorstr %>
</div>
<div id="inputarea">
  <form action="<%= actionUrl %>" method="post" accept-charset="UTF-8"
	autocomplete="off" name="inputarea">
    <div id="wpdate">
      <select name="yearsel"><%= yearsel %></select>
      /
      <select name="monthsel"><%= monthsel %></select>
      /
      <select name="datesel"><%= datesel %></select>
    </div>
    <div id="wpkind">
      <input type="radio" name="wpkinds" id="wpkw" value="withdraw">収入
      <input type="radio" name="wpkinds" id="wpkp" value="payment">支出
      <input type="radio" name="wpkinds" id="wpkt"
	     value="accounttransfer">口座移動
    </div>
    <div id="expenditure">
      費目
      <select name="expin" id="expin">
	<%= inexpsel %>
      </select>
      <select name="expout" id="expout">
	<%= outexpsel %>
      </select>
      <select name="expmv" id="expmv">
	<%= mvexpsel %>
      </select>
    </div>
    <div id="account">
      <div id="wacc">
	支払区分
	<select name="withdrawFrom">
	  <%= wFromsel %>
	</select>
      </div>
      <div id="pacc">
	収入区分
	<select name="paymentTo">
	  <%= pTosel %>
	</select>
      </div>
    </div>
    <div id="amount">
      金額
      <input type="text" id="amounts" name="amounts" value="">円
    </div>
    <div id="description">
      説明
      <input type="textbox" id="desc" name="desc" value=""
	     style="width:200px;">
    </div>
    <div id="paymentMonth">
      カード支払月
      <select name="payMonth">
	<option value="0" selected></option>
	<%= paymonthsel %>
      </select>
    </div>
    <div id="accremain">
      口座残額
      <span id="accremamount">-</span>円
    </div>
    <input type="submit" name="登録" text="登録">
  </form>
</div>
<script src='<%= HtmlUtil::URLROOT + "/js/" %>main.js'></script>
